 <!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>

.modal-footer {
  background-color: #800000;
  color: white;
  height: 40px;
  padding: 5px 2px;
  display: table;
  width: 100%;
}

.wrapper-div {
  display: table-cell;
  vertical-align: middle;
}

.button {
  background-color: #B22222;
  border: none;
  color: white;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  position: relative;
  float: left
}

.button:hover {
  background-color: #e50d0d;
}

    </style>
<title>IFPR COVID MASK</title>
</head>
<body>

<div style="margin: 0 auto;width:40%;" >
  <img src="static/logo.png"align="middle" style="width:100%">
</div>

<div class="modal-footer">
  <div class="wrapper-div" style="width:100%" >
<form action="/">
    <input type="submit" style="width:33.33%" class="button" value="INICIO" />
</form>
<form action="/demo">
    <input type="submit" style="width:33.33%" class="button" value="DEMOSTRACAO" />
</form>
<form action="/sobre">
    <input type="submit" style="width:33.33%" class="button" value="SOBRE" />
</form>
  </div>
</div>

</div>

</body>
</html>