 <!DOCTYPE html>
<html>
<head>
<title>COVID-19 mask</title>
</head>
<body>

{% include 'nav.html' %}
<div class="jumbotron">
  <div style="font-family:Comic Sans MS, Comic Sans, cursive"class="text-center">Somos alunos do IFPR, do curso de informática, sendo instruídos por duas pessoas profissionais da área. Este site foi criado com o desafio de trabalharmos com reconhecimento facial e o desenvolvimento básico de sites usando Python, Flask e HTML. A parte do reconhecimento facial foi desenvolvida com a plataforma aberta IBM Watson.

    <p>Equipe:</p>
    ADRIEL GEROLDIN,
    GUSTAVO PETRY,
    DJEISSON WALDOV,
    JOÃO TOSCAN
    <p></p>
    <p>Orientadores:</p>
    JUAN MANOEL,
    PROF. MARCEL RIOS

  </div>
  </div>




</body>
</html>